
body {
  font-size: 1rem !important;
  font-weight: 400 !important;
  background-color: #ecf0f5;
}
.header-bg {
  background-color: #3e5161;
}

.header-bg-btm {
  background-color: #2b3943;
}

.border-top-left {
  border-top: 6px solid #7bc9cc;
}

.border-top-right {
  border-top: 6px solid #e7543c;
}

.border-top-mid {
  border-top: 6px solid #52d0e0;
}

.border-top-design {
  border-top: 6px solid #dd519e;
}

.border-top-travel {
  border-top: 6px solid #8e72d1;
}

.border-top-home {
  border-top: 6px solid #8cd723;
}

.primary-color {
  color: #7bc9cc;
}

.primary-color-sec {
  color:#e7543c;
}

.primary-color-thr {
  color: #52d0e0;
}

.primary-color-design {
  color: #dd519e;
}

.primary-color-travel {
  color: #8e72d1;
}

.bg-color-travel {
  background-color: #8e72d1;
}

.primary-color-home {
  color: #8cd723;
}

.bg-color-home {
  background-color: #8cd723;
}

.bg-color-builder {
  background-color: #f4285c;
}

.bg-color-social {
  background-color: #ff5a02;
}

.bg-color-extra {
  background-color: #3eed9a;
}

.small-text {
  font-size: 12px;
}

 h5 {
  font-size: 18px;
  margin-bottom: 0 !important;
}

p {
  font-size: 14px !important;
}

 .bg-color__login {
   background-color: #e2e2e2;
 }

 .play-button {
   color: rgb(206, 206, 206) !important;
   font-size: 4rem !important;
   top: 22%;
   left: 40%;
 }

 